@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Mukta", sans-serif;
  font-weight: 500;
  font-style: normal;
}
body {
  font-family: "Mukta", sans-serif;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%;
  max-width: 600px;
}

h1 {
  margin-bottom: 20px;
  font-family: "Mukta", sans-serif;
  font-weight: 800;
  font-style: normal;
}

input {
  padding: 10px;
  width: 80%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

#result {
  margin-top: 20px;
  text-align: left;
}
.definition {
  font-size: 1.2em;
}

.example {
  display: none;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }
}
